body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin: 0px;
}

/* NAVIGATION */

.navig-block {
    display: block;
    margin: auto;
    width: full;
    height: 80px;
    background-color:  black;
    display: ;
}
.navig {
    display: flex;
}
.navig li {
    margin-top: 30px;
    margin-right: 50px;
    align-items: center;
    font-weight: bold;
}
.navig li a {
    text-decoration: none;
    color: white;  
}

/* FIN DE LA NAVIGATION */



/* PROFIL */

.about2 {
    display: flex;
    width: 1000px;
    height: 270px;
    margin-top: 200px;
    margin: auto;
}
.text-about2 {
    width: 1000px;
    height: 400px;
    background-color: white;
    margin-top: 100px;
}
.about2 div p {
    text-align: justify;
}
.img-about2 {
    width: 400px;
    height: 400px;
    background-color: white;
    margin-right: 50px;
    margin-top: 60px;
}


/* FIN DE PROFIL */



/* CONTACT */


form {
  /* Uniquement centrer le formulaire sur la page */
  margin: 0 auto;
  margin-top: 50px;
  width: 500px;
  /* Encadré pour voir les limites du formulaire */
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

form div + div {
  margin-top: 20px;
}

label {
  /* Pour être sûrs que toutes les étiquettes ont même taille et sont correctement alignées */
  display: inline-block;
  width: 90px;
  text-align: right;
}

input, textarea {
  /* Pour s'assurer que tous les champs texte ont la même police.
     Par défaut, les textarea ont une police monospace */
  font: 1em sans-serif;

  /* Pour que tous les champs texte aient la même dimension */
  width: 300px;
  box-sizing: border-box;

  /* Pour harmoniser le look & feel des bordures des champs texte */
  border: 1px solid #999;
}

input:focus, textarea:focus {
  /* Pour souligner légèrement les éléments actifs */
  border-color: #000;
}

textarea {
  /* Pour aligner les champs texte multi‑ligne avec leur étiquette */
  vertical-align: top;

  /* Pour donner assez de place pour écrire du texte */
  height: 5em;
}

.button_contact {
  /* Pour placer le bouton à la même position que les champs texte */
  padding-left: 90px; /* même taille que les étiquettes */

}

.button_contact button {
  /* Cette marge supplémentaire représente grosso modo le même espace que celui
     entre les étiquettes et les champs texte */
  margin-left: .5em;
 

  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: black; 
  color: white; 
  border: 0px solid #BD5D38;

}

.button_contact button:hover{
    background-color: #458BC7;
    color: white;
}


/* FIN DE CONTACT */